.OpenAI {
  max-width: 400px;
  min-width: 256px;
  width: 400px;

}

.OpenAI .prompt {
  margin: 5px;
  background-color: lightgray;
  background-image: url('/modules/MMM-OpenAI/resources/openai_rd.png');
  background-size: 32px 32px;
  background-position: top 5px left 5px;
  text-align: left;
  background-repeat: no-repeat;
  color: black;
  padding: 5px;
  font-weight: bold;
  min-height: 32px;
  padding-left: 48px;
}

.OpenAI .response {
  margin: 5px;
  background-color: darkolivegreen;
  color: white;
  padding: 5px;
}

.OpenAI .response.responseText,
.OpenAI .response.responseChat {
  background-image: url('/modules/MMM-OpenAI/resources/openai_bk.png');
  background-size: 32px 32px;
  background-position: top 5px left 5px;
  background-repeat: no-repeat;
  padding-left: 48px;
  text-align: left;
}

.OpenAI .response.responseImage {
  height: var(--imageAreaHeight);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: contain;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}